<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}DecisionCandy{% endblock %}</title>
    
    {% block headcode %}
    	<link rel="stylesheet" type="text/css" href="../DC-style.css"/>
    {% endblock %}

</head>

<body>
    {% block header %}
        <div class="topbar">
            <a href="../../../media/index">
                <div class="bigtext" id="title">
                    DecisionCandy
                </div>
            </a>
        </div>
    {% endblock %}
    
    {% block content %}
    {% endblock %}

	<div class="footer">    
        {% block footer %}
        	Copyright 2011 Alex Rattray and Ceasar Bautista. 
        {% endblock %}
    </div>

</body>
</html>
