
<table class="projchoose">

   {% for project in project_list %}
        
        {% if forloop.counter in startrow %}
        	<tr>
        {% endif %}
        	<td>
            	<div class="rankbox choose">
                     
                    <a href="{{ project_rankpage }}">
                    {{ project.name }}
                    <img src="{{ project_coverpic }}" class="rankpic choose"/>]
                    </a>                
                    <!--
                    <a href="rank.html">
                    <img src="../images/smushkies 3-11.png" class="rankpic choose"/>]
                    </a>
                    -->
                </div>
            </td>
           
         {% if forloop.counter in endrow %}
  			</tr>
         {% endif %}
            
   {% endfor %}
      
</table>

<!-- 
<table class="projchoose">
	<tr>
    	<td>    
            <div class="rankbox choose">
                <a href="../../rank/">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>

    
    	</td><td>
             <div class="rankbox choose">
                <a href="../../rank/">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>   	
        </td><td>
             <div class="rankbox choose">
                <a href="../../rank/">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>       
	</td></tr><tr>
    	<td>
            <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>    
    	</td><td>
            <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>    	
        </td><td>
            <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>        
	</td></tr><tr>
    	<td>
             <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>   
    	</td><td>
            <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>    	
        </td><td>
             <div class="rankbox choose">
                <a href="../../rank/.php">
                <img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic choose"/>]
                </a>
            </div>       
	</td></tr>
</table>
-->