<div class="ranking">

    <div class="rankbox left">
    	
        <a href={{ choose_left }}>
        <img src={{ left_img }} class="rankpic"/>
        </a>
        <!--
        <a href="../../thanks">
        [left<img src="../../front-end/media/images/smushkies 3-10.png" class="rankpic"/>
        ]</a>
        -->
    </div>
    
    <!--in between the versions-->
    <div class="rankbuttons">
    
        <a href={{ choice_none }}><div class="indecisive">Can't decide.</div></a>
        <!--
        <a href="../../choose"><div class="indecisive">Can't decide.</div></a>
        -->
    </div>
    
    
    <div class="rankbox right">
        
        <a href={{ choose_right }}>
        <img src={{ right_img }} class="rankpic"/>
        </a>
        <!--
        <a href="../../thanks">
        [right<img src="../../front-end/media/images/smushkies 3-11.png" class="rankpic"/>]
        </a>
        -->
    </div>
    
</div>	