<div class="bigtext frontcenter" id="whichone">Which one...</div>
    
    <div class="bigtext" id="isbest" title="{{ more_criteria }}">
    {{ criteria }}?
        <div class="littlelink">
        <a href="#" title="{{ more_criteria }}">
        more criteria
        </a></div>
    </div>
    
    <!--where the action is att-->
    {% include "includes/rankingcenter.html" %}
    
    
    <!--everything below the ranking goes here -->
    <div class="belowranking">
    
    <form>
    <input class="rankfeedback" type="text" name="feedback" value="have thoughts to share with {{ client }}? "/>
    </form> 
    
    <!--
    <div class="projectinfo">
        <div class="bigtext">Information about {{ client}}</div>
        <div id="projdescription"> {{ project_descripiton }}</div>
    </div>
    -->
    <div class="projectinfo">
        <div class="bigtext">Information about [Project K]</div>
        <div id="projdescription"> [Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ipsum elit. Etiam id sapien libero, id accumsan dui. Nullam a erat sem, viverra tristique turpis.   Duis rhoncus lacinia lorem, in mattis lacus volutpat quis. Aenean pharetra porta condimentum. Nunc ut lorem est. Duis tempor nunc ut elit tincidunt eu viverra lorem dapibus. Aenean sit amet ultricies enim. Cras tortor ipsum, dapibus a commodo vel, aliquam varius mauris. Cras ut tincidunt eros. Sed hendrerit consectetur auctor.  Phasellus congue tempor justo sed cursus. Quisque non quam turpis. Curabitur mollis luctus tempor. Aliquam sit amet nisl vel arcu rutrum ornare at vel sem.]</div>
    </div>
    
    <!--
    <div class="progressbar">
        {{ progress }}<br />
        {{ reward }}
    </div>
    -->
    
    <div class="progressbar">
        [0/5]<br />
        [$2]
    </div>
    

</div>