<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}DecisionCandy{% endblock %}</title>
    
    {% block headcode %}
    {% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700|Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo|Copse' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../front-end/media/css/DC-style.css"/>



</head>

<body>
    {% block header %}
        <div class="topbar">
            
            <div class="bigtext" id="title">
            	<a href="../../../">
                	<span style="color:#8FBCFF;">Decision</span><span style="color:#FFC04F;">Candy</span>
                	<span style="color:#666; font-size:26px;">Truly Yummy Feedback.</span>
            	</a>
           	</div>
            
            <div class="topbar-links bluetext">
            	{% if user.username %}
	            	Welcome, {{ user.client.name }} | <a href="../../upload/">Upload a Project</a> | <a href="../../logout/">Logout</a>
                	{% else %}
                    <a href="../../signup/">Sign Up</a> | <a href="../../signin/">Log in</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

	<div class="footer">    
        {% block footer %}
        	<small>Copyright 2011 Alex Rattray, Greg Terrono, and Ceasar Bautista. </small>
        {% endblock %}
    </div>

</body>
</html>
