<div class="ranking">
    <a href="">
      <div class="rankbox left">        
        <img src='front-end/media/{{ left_img }}' class="rankpic"/ onclick="updateList()">
      </div>
    </a>
    <a href="">
        <div class="rankbuttons" onclick="updateList()">
          <div class="indecisive">Can't decide.</div>
        </div>
    </a>
    <a href="">
        <div class="rankbox right">
          <img src='front-end/media/{{ right_img }}' class="rankpic"/ onclick="updateList()">
        </div>
    </a>
</div>
