<div class="ranking">
    <a href="#" onclick="vote('{{ left_img }}', '{{ right_img }}')">{% csrf_token %}
      <div class="rankbox left">        
        <img src='front-end/media/{{ left_img }}' class="rankpic"/>
      </div>
    </a>
    <a href="#" onclick="updateList('n')">
        <div class="rankbuttons">
          <div class="indecisive">Can't decide.</div>
        </div>
    </a>
    <a href="#" onclick="vote('{{ right_img }}', '{{ left_img }}')">{% csrf_token %}
        <div class="rankbox right">
          <img src='front-end/media/{{ right_img }}' class="rankpic"/>
        </div>
    </a>
</div>

<div id="fake">

</div>