{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block content %}
<div class="frontcenter">
	<div class="bigtext">Choose a project, then choose the best versions.</div>
	<!--<div class="bigtext">Truly Yummy Feedback.</div>
<br />
  DecisionCandy uses the power of boredom to make sure only the tastiest designs ever see the light of <span title="Or RGB, or Pantone, or whatever">CMYK</span>. 
  <br /><br />
  Go ahead and pick a project below to see what it's like.<br />-->
</div>

{% include "includes/choicetable.html" %}

{% endblock content %}
