{% extends "base.html" %}

{% block title %}{{ block.super }} | Rank {{ Project.name }} {% endblock %}

{% block headcode %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../../front-end/media/static/ajax-thing.js"></script>
<script type="text/javascript">
  var progress = 1;
  var project = "{{ Project.name|escapejs }}";
  var pairs = new Array(limit);

  
  var limit = '{{ limit }}';
  function vote(w, l){
	  var url = "/vote/";
	  var message = new Object();
	  message.winner = w;
	  message.loser = l;
	  $.post(url, {
		  winner: w, 
		  loser: l
	  	},
		function(data, status, xhr){
			if (status == 'success'){
				updateList();
			}
			else { 
				alert("something went wrong");
			}
		}
		);

	  //updateList();
  }
  
//  var pairs = new Array(limit);
//  
//  function isNewPair(l, r){
//	  
//  }
  
  function updateList(){
    if (progress <= limit) {
//		  var url = "../../../choices/" + project.replace(/ /gi,'%20');
//		  $("div#main").load(url);
		$("div#progress").html(progress + " / " + limit);	
		var left_url = pairs[progress - 1][0];
		var right_url = pairs[progress - 1][1];
		$("img#left_img").attr("src", "/front-end/media/" + left_url);
		$("img#right_img").attr("src", "/front-end/media/" + right_url);
		$("a#left_link").unbind('click');
		$("a#right_link").unbind('click');
		$("a#left_link").click(function(){vote(left_url, right_url)});
		$("a#right_link").click(function(){vote(right_url, left_url)});
		  progress += 1;
    }
    else {
      var url = "../../../thanks/"+ project.replace(/ /gi,'%20');
      $('div#content').load(url);
    }
  }

$(document).ready(function() {
  
 	{% for pair in img_list %}
	pairs[{{ forloop.counter0 }}] = new Array(2);
  		{% for img in pair %}
			pairs[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}]="{{ img }}";
		{% endfor %}
	{% endfor %}

    updateList();
    });
  </script>
  {% endblock %}

  {% block content %}

  <div class="bigtext frontcenter bluetext" id="whichone">Which one...</div>

  <div class="bigtext orangetext" id="isbest" title="{{ Project.more_criteria }}">
    {{ Project.criteria }}?
    <div class="littlelink">
      <span class="bluetext" title="{{ Project.more_criteria }}">
        hover for more criteria
      </span>
        <div class="progressbar">
            <div id="progress">
            </div>
            <br/>
            {% if Project.reward > 0 %}$
            {{ Project.reward }}
            {% endif %}
        </div>
    </div>
  </div>

  <div id="main">
      <div class="ranking" id="mainranking">
        <a onclick="" id="left_link" class="handcursor">{% csrf_token %}
          <div class="rankbox left">
	          <img id="left_img" src='' class="rankpic"/>
          </div>
        </a>
        <a onclick="updateList()" id="cantdecide" class="handcursor">
            <div class="rankbuttons">
              <div class="indecisive">Can't decide.</div>
            </div>
        </a>
        <a onclick="" id="right_link" class="handcursor">{% csrf_token %}
            <div class="rankbox right" id="rb_r">
              <img id="right_img" src='' class="rankpic"/>
            </div>
        </a>
    </div>
    
    <div id="fake">
    
    </div>
  </div>


  <!--everything below the ranking goes here -->
  <div class="belowranking">   
    <div class="projectinfo">
      <div class="bigtext">Information about {{ Project.name }}</div>
      <div id="projdescription"> {{ Project.description }} </div>
    </div>
  </div>

  
</div>

{% endblock content %}
