<div class="frontcenter">
<div class="bigtext"> Thanks for helping out {{ Project.creator }}!</div>
 <br />
    Soon, creatives like {{ Project.creator }} will be able to thank you with more than just an exclamation mark. <br />
    <form>To sign up for updates, <input type="text" value="pop your email here" /></form>
   <br />
   <br />
   <br />

	Feel like helping some other projects? <a href="../../../">Select a new project</a>
    <br />
    Or, check out the <a href="../../results/{{ Project.name }}">overall results for this project</a>? 
    
    </div>
</div>