{% extends "base_user.html" %}

{% block title %}{{ block.super }} | Thanks {% endblock %}

{% block content %}
<div class="bigtext frontcenter"> Thanks for helping out {{ creative }}!</div>

<div class="frontcenter"> <br />
    Soon, creatives like {{ creative }} will be able to thank you with more than just an exclamation mark. <br />
    <form>To sign up for updates, <input type="text" value="pop your email here" /></form>
   <br />
   <br />
   <br />

	Feel like helping some other projects? <a href="../../choose">Select a new project</a>
    
    </div>

{% endblock content %}