{% extends "base.html" %}

{% block title %}{{ block.super }} | Upload {% endblock %}


{% block content %}
    <div class="frontcenter">
    <div class="bigtext">Create a Project and upload images below. </div>
    <br />
        <form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
        {{ project_form.as_table }}
        {{ image_form.as_table }}
        </table>
        <input type="submit" value="Submit" />
        </form>
    <div>
{% endblock content %}

