@charset "utf-8";
/* CSS Document */

/*Some general rules*/
body {
	font-family:'Arvo', Verdana, Geneva, sans-serif;
	background-image:url(../images/gradient_texture20100901.JPG); background-repeat:repeat-x;
	background-color:#f6f6f8;
}

a {
	color:#333;
	text-decoration:none;
}

a:hover {
	color:#555;
}

/*because I'm afraid of h1*/
.bigtext {
	font-family: 'Copse','Philosopher', "Arial Black", Gadget, sans-serif;
	font-size:40px;
	text-shadow: 0px 1px 1px #888;
}

/*cute little guys*/
.littlelink {
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
}

/*the header bar at the top of every page*/
.topbar {
	left:0px;
	right:0px;
	top:0px;
	width:100%;
	position:absolute;
	background-image:url(../images/old_mathematics_3.png);
	-webkit-box-shadow:0px 2px 15px #999;
	box-shadow:0px 2px 15px #999;
	background: #434950 url(../images/sharkskin.gif) repeat-x -70% 0;

}


/*DecisionCandy main title*/
.bigtext #title {
	
}

/*top center of rank pages, says "which one..."*/
.frontcenter {
	width:100%;
	text-align:center;
	position:relative;
	margin-top: 100px;
}

#whichone {
	font-size:26px;
}

/*top center of rank pages, dynamic criteria for decision*/
#isbest {
	width:100%; 
	text-align:center;
	z-index:10;
}


/*general overarching ranking content*/
.ranking {
	width:100%;
	position:relative;
	height:300px;
	
}

/*where the images go.*/
.rankbox, .indecisive {
	padding:0px;
	-moz-box-shadow: 0px 0px 10px #8FBCFF;
    -webkit-box-shadow: 0px 0px 10px #8FBCFF;
    box-shadow: 0px 0px 10px #8FBCFF;
	position:absolute;
        background-color:white;
	/* background-image:url(images/whitey.png);	*/
	/* border: 5px dashed #CCC;     */
}

/*.rankbox, img.rankpic {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}*/

.rankbox {
	width:300px;
	height:250px; 
	margin: 0px 75px 0px 75px;
	top:0px;
	padding:5px;
	text-align:center;
	overflow:hidden;
	/*background-image:url(../images/ps-trans-bg-1.PNG);*/
}

td .rankbox{
	padding:auto;
}
.rankbox:hover, .indecisive:hover {
	/* border:dashed 5px #999;     */
	-moz-box-shadow: 0px 0px 15px #5EA6FC;
    -webkit-box-shadow: 0px 0px 15px #5EA6FC;
    box-shadow: 0px 0px 15px #5EA6FC;
}
/* at the top of the choice boxes */
.choicehead {
	border-bottom:groove #CCC thin;
	padding-bottom:0px;
	text-shadow:#FFF 0px 1px 0px;
}
/*the main ranking pictures. */

.rankpic {
	max-width:300px;
	max-height:250px;
	position:relative;
}

/*the left rank div*/
.left {
	right:50%;	
}

/*the right rank div*/
.right {
	left:50%;
}

.rankbuttons{
	position:relative;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:0px;
	margin-bottom:auto;
	top:100px;
}

/*everything below the ranking goes here*/
/**/
.belowranking {
	margin:auto;
	width:770px;
	left:12.5%
}

/**/
.rankfeedback {
	width:50%;
	margin-left:25%;
}

/**/
.projectinfo {
	
}


/**/
 #projdescription {
	
}

/**/
.progressbar {
	text-align:center;
}

.projchoose {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.rankbox.choose {
	position:relative;
	margin:25px;
}

.rankpic.choose {
}

.footer {
	width:100%;
	position:relative;
	top:50px; left: 0px; right: 0px;
	text-align:center;
}

#title {
        margin:10px;
}

.bluetext, a {
	color:#8FBCFF;
}

.orangetext {
	color:#FFC04F;
}


.topbar-links {
	position:absolute;
	text-align:right;
	right:0px;
	top:10px;
	margin: 15px;
	}
	
.handcursor {
	cursor:pointer;
}
/*div.frontcenter form table tbody tr th {
	text-align:right;
}

input {
	width:300px;
}

textarea {
	width:300px;
	height:40px;
}

table {
	margin:auto;
}*/